<!DOCTYPE html>
<!-- This fragment contains all head-information that are used and shared by every template.
     E.g.: References to bootstrap css and js or references to custom css files. -->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="htmlHead">
  <meta charset="UTF-8"/>
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- Link to custom stylesheet -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/ars.css}"/>
</th:block>
</html>
